*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{background-color: rgb(233, 233, 233);
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#main{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    flex-basis: 1;
}
#sidebar{
    background-color:rgb(248, 248, 248);
    max-width: 250px;
    min-width: 250px;
    justify-self: stretch;
}

#content{
    min-height: 80vh;
    flex-grow: 1;
}

#update{
    text-align: center;
    background-color: white;

    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.frow{
    display: flex;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    min-width: 450px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: green;
    padding: 1.5rem;
}

#address,#info{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    position: sticky;
    top: 0;
    background-color: green;
    margin-bottom: 1rem;
    padding-right: 2rem;
}

#nav li a{
    display: block;
    padding: 1rem;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

#listHead{
    padding-left: 2rem;
}

#stallcategoryform{
    padding: 1rem 2rem;
    text-align: right;
}

.mItem{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
    border-bottom: solid 1px gray;
}

.mItem:hover{
    background-color: aliceblue;
}

.itemTitle{
    flex-grow: 1;
}

div.itemTitle{
    padding: 1rem;
}

.mItem a{
    text-decoration: none;
    color: black;
    padding: 1rem;
}

#sidebar ul{
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

#sidebar ul li{
    display: block;
}
#sidebar ul a{
    background-color: green;
    display: block;
    padding: 1rem;
    text-decoration: none;
    color:white;
    border-bottom: solid 1px gray;
}

#sidebar ul a:hover{
    background-color: white;
    color: black;
}

#sidebar .selected{
    background-color: white;
    color: black;
}

#market_name{
    margin-left: 2rem;
    font-size: 1.5rem;
}

#marketinfo{
    padding: 1rem;
}

#marketinfo span{
    font-weight: bold;
    display: inline-block;
    min-width: 200px;
}

#marketinfo div {
    margin: 0.75rem;
}


